MONGO_URI=mongodb+srv://ibra_u_mura_va:XXEGfLZvU5vlMPzQ@cluster0.xtfxdjy.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=AIzaSyDlCtxEPfzKzA3SjG-d8onI5cZfV4azsWY
PORT=5000
VITE_API_URL=http://localhost:5000/api